.manageCon{
  width:100%;
  height: 96%;
  padding:50px 0;
  background: #fff;
  overflow-y: auto;
  .subtitle{
    width:96%;
    padding:15px 0;
    margin:0 auto;
    .last{
      color: #555;
    }
    a{
      font-size: 12px
    }
  }
}

.oilApplication{
  width:100%;
  height: 100%;
  padding:50px 0;
  background: #fff;
  overflow-y: auto;
  .mainCon{
    width:95%;
    margin:0 auto;
  }
}

.iconBtn{
  margin:0 5px;
}
.iconBtnGroup{
    display: flex;
    justify-content: center;
  .lookBtn{
    display: block;
    width: 38px;
    height:20px;
    background: url('../../static/images/operate/look.png') no-repeat;
  }
  .editBtn{
    display: block;
    width: 38px;
    height:20px;
    background: url('../../static/images/operate/edit.png') no-repeat;
  }
  .enableBtn{
    display: block;
    width: 38px;
    height:20px;
    background: url('../../static/images/operate/enable.png') no-repeat;
  }
  .disableBtn{
    display: block;
    width: 38px;
    height:20px;
    background: url('../../static/images/operate/disable.png') no-repeat;
  }
}