table tr:nth-child(even) {
  background: #f0f4fa;
}
.stationInfo {
  width: 100%;
  height: 96%;
  padding: 30px 0;
  background: #fff;
  overflow-y: auto;
}
.stationInfo .subtitle {
  width: 96%;
  padding: 15px 0;
  margin: 0 auto;
}
.stationInfo .subtitle .last {
  color: #555;
}
.stationInfo .subtitle a {
  font-size: 12px;
}
.stationInfo .btnGroup {
  display: inherit;
  justify-content: inherit;
}
.mainBox {
  width: 100%;
  height: 100%;
  padding: 30px 0 100px;
  background: #fff;
  overflow-y: auto;
}
.mainBox .mainCon {
  width: 95%;
  margin: 0 auto;
}
.mainBox .mainCon .ant-table-pagination.ant-pagination {
  float: none;
  text-align: center;
}
.mainBox .mainCon .ant-table-thead > tr > th {
  text-align: center;
}
.tankConfig {
  padding-top: 15px;
}
.oilFilerConfig .oilFillerForm {
  width: 90%;
  padding: 20px 60px 20px 20px;
  margin-left: 2%;
  margin-bottom: 40px;
  border: 1px solid #ccc;
}
.oilFilerConfig .oilFillerForm .ant-col {
  padding: 0 10px;
}
.oilFilerConfig .oilFillerForm .tankNoSelect .ant-form-item-control {
  width: 80px;
}
.oilFilerConfig .oilFillerForm input {
  width: 50%;
  margin-right: 10px;
}
.oilFilerConfig .oilFillerForm .edit {
  justify-content: flex-end;
}
.operateConfig {
  padding-top: 15px;
}
.conditionGroup {
  padding: 15px 0;
}
.conditionGroup button {
  margin-right: 10px;
}
.orderQuery .timeBox .ant-calendar-picker {
  width: 174px;
  min-width: auto!important;
}
.orderQuery .timeBox .ant-calendar-picker:first-child {
  margin-right: 10px;
}
.orderQuery .timeBox .ant-calendar-picker:last-child {
  margin-left: 10px;
}
.orderQuery .ant-tag-checkable {
  background-color: transparent;
  padding: 6px 20px;
  border: 1px solid #ccc;
}
.orderQuery .ant-tag-checkable-checked {
  border-color: #278bf6;
  color: rgba(0, 0, 0, 0.65);
  background: #f1f8ff;
}
.orderQuery .ant-col-24 {
  display: flex;
  justify-content: flex-start;
}
.orderQuery .ant-col-24 .ant-form-item {
  padding-right: 50px;
}
.orderQuery .ant-col-24 .selectBox {
  width: 197px;
}
.orderQuery .ant-col-24 .oilSelect {
  width: 382px;
}
.orderQuery .handleBtn {
  display: flex;
  justify-content: center;
  white-space: nowrap;
}
.orderQuery .handleBtn button {
  margin-left: 10px;
}
.orderQuery .handleBtn .resetBtn {
  border-color: #10c99d;
  background: #10c99d;
}
.preferenPolicies .ant-form-item-control-wrapper {
  width: 100%;
}
.preferenPolicies .ant-calendar-picker {
  min-width: inherit!important;
}
.unloadHandle .mainCon {
  margin-top: -20px;
}
.unloadHandle .ant-form-item-control-wrapper {
  width: 100%;
}
.unloadHandle .ant-form-item-control-wrapper .ant-form-item-control {
  width: 80%;
}
.unloadHandle .ant-form-item-control-wrapper .ant-form-item-control .ant-form-item-children {
  display: flex;
  justify-content: flex-start;
}
.unloadHandle .ant-form-item-control-wrapper .ant-form-item-control .ant-form-item-children .unit {
  padding-left: 10px;
}
.unloadHandle .unloadFormStart {
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;
}
.unloadHandle .unloadFormEnd {
  padding-top: 50px;
  padding-bottom: 50px;
}
.reportClass .mainCon,
.phyCardRecharge .mainCon,
.phyCardConsume .mainCon {
  margin-top: -20px;
}
.whiteList .mainCon,
.blackList .mainCon,
.invoiceManage .mainCon,
.cardEnquiry .mainCon,
.cardDetail .mainCon,
.tradeQuery .mainCon,
.recharge .mainCon,
.oilUnitSet .mainCon,
.cardOperate .mainCon,
.transferAccount .mainCon,
.inOutLog .mainCon,
.inventoryManage .mainCon {
  margin-top: -20px;
}
.whiteList .mainCon .ant-col,
.blackList .mainCon .ant-col,
.invoiceManage .mainCon .ant-col,
.cardEnquiry .mainCon .ant-col,
.cardDetail .mainCon .ant-col,
.tradeQuery .mainCon .ant-col,
.recharge .mainCon .ant-col,
.oilUnitSet .mainCon .ant-col,
.cardOperate .mainCon .ant-col,
.transferAccount .mainCon .ant-col,
.inOutLog .mainCon .ant-col,
.inventoryManage .mainCon .ant-col {
  padding-right: 10px;
}
.whiteList .mainCon .ant-form-item-control-wrapper,
.blackList .mainCon .ant-form-item-control-wrapper,
.invoiceManage .mainCon .ant-form-item-control-wrapper,
.cardEnquiry .mainCon .ant-form-item-control-wrapper,
.cardDetail .mainCon .ant-form-item-control-wrapper,
.tradeQuery .mainCon .ant-form-item-control-wrapper,
.recharge .mainCon .ant-form-item-control-wrapper,
.oilUnitSet .mainCon .ant-form-item-control-wrapper,
.cardOperate .mainCon .ant-form-item-control-wrapper,
.transferAccount .mainCon .ant-form-item-control-wrapper,
.inOutLog .mainCon .ant-form-item-control-wrapper,
.inventoryManage .mainCon .ant-form-item-control-wrapper {
  width: 75%;
}
.whiteList .mainCon .searchBtn,
.blackList .mainCon .searchBtn,
.invoiceManage .mainCon .searchBtn,
.cardEnquiry .mainCon .searchBtn,
.cardDetail .mainCon .searchBtn,
.tradeQuery .mainCon .searchBtn,
.recharge .mainCon .searchBtn,
.oilUnitSet .mainCon .searchBtn,
.cardOperate .mainCon .searchBtn,
.transferAccount .mainCon .searchBtn,
.inOutLog .mainCon .searchBtn,
.inventoryManage .mainCon .searchBtn {
  margin-left: 0;
}
.invoiceManage .invoiceBtn {
  margin-left: 10px;
}
.invoiceManage .balance {
  width: 100%;
  border: 1px solid #000;
  border-radius: 5px;
  margin-bottom: 20px;
}
.invoiceManage .balance .txt {
  padding: 10px;
  margin: 0;
}
.invoiceManage .balance .txt .red {
  color: red;
}
.cardDetail .ant-calendar-picker,
.tradeQuery .ant-calendar-picker,
.cardOperate .ant-calendar-picker {
  width: 100%;
}
.cardDetail .btnGroup,
.tradeQuery .btnGroup,
.cardOperate .btnGroup {
  justify-content: flex-end;
  padding-bottom: 10px;
}
.cardDetail .btnGroup .exportBtn,
.tradeQuery .btnGroup .exportBtn,
.cardOperate .btnGroup .exportBtn {
  margin-left: 10px;
  margin-right: 50px;
}
.tradeQuery .ant-calendar-picker {
  min-width: inherit!important;
}
.tradeQuery .rowBetween {
  justify-content: space-between;
}
.handleBtn {
  display: flex;
  justify-content: flex-start;
}
.handleBtn button {
  padding: 5px 40px;
  margin-right: 10px;
  box-sizing: content-box;
}
.handleBtn .readBtn {
  background: #10c99d;
  border-color: #10c99d;
}
.handleBtn .readBtn:hover {
  background: #76e4ca;
  border-color: #76e4ca;
}
.handleBtn .areaBtn {
  background: #ff9d4c;
  border-color: #ff9d4c;
}
.handleBtn .areaBtn:hover {
  background: #f7ad70;
  border-color: #f7ad70;
}
.openCard .mainCon {
  margin-top: -20px;
}
.openCard .mainCon .ant-col-24 {
  display: flex;
  justify-content: flex-start;
}
.openCard .mainCon .ant-col-24 .ant-form-item {
  width: 50%;
}
.openCard .mainCon .consumeChoose {
  width: 88%;
  margin: 0 auto;
}
.openCard .mainCon .consumeLimt {
  width: 90%;
  margin: 0 auto;
}
.openCard .mainCon .consumeLimt .ant-form-item {
  width: 33%;
}
.recharge .title,
.transferAccount .title {
  width: 89%;
  margin: 0 auto;
}
.modifyCard .mainCon {
  margin-top: -20px;
}
.modifyCard .mainCon .title {
  width: 89%;
  margin: 0 auto;
}
.oilUnitSet .btnGroup .newBtn {
  margin-left: 10px;
}
.cardOperate .rowBetween {
  width: 70%;
  margin-left: 13%;
}
.cardOperate .handleBtn {
  justify-content: space-between;
}
.plungAccount .title {
  padding: 16px 0;
  background: #f5f5f5;
  text-align: center;
  border-top: 1px solid #e8e8e8;
}
.plungAccount .ant-pagination {
  display: none;
}
.plungAccount table {
  margin-bottom: 10px;
}
.plungAccount .classReport {
  width: 100%;
  text-align: center;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}
.plungAccount .classReport thead tr {
  background: #f9f9f9;
}
.plungAccount .classReport thead tr:nth-child(odd) {
  background: #f5f5f5;
}
.plungAccount .classReport td,
.plungAccount .classReport th {
  padding: 16px 0;
}
.plungAccount .btnGroup {
  padding: 30px 0;
  text-align: center;
}
.plungAccount .btnGroup button {
  margin: 0 5px;
}
.iconBtn {
  margin: 0 5px;
}
.iconBtnGroup {
  display: flex;
  justify-content: center;
}
.iconBtnGroup .lookIcon {
  display: block;
  width: 38px;
  height: 20px;
  background: url('../../static/images/operate/look.png') no-repeat;
}
.iconBtnGroup .editIcon {
  display: block;
  width: 38px;
  height: 20px;
  background: url('../../static/images/operate/edit.png') no-repeat;
}
.iconBtnGroup .enableIcon {
  display: block;
  width: 38px;
  height: 20px;
  background: url('../../static/images/operate/enable.png') no-repeat;
}
.iconBtnGroup .disableIcon {
  display: block;
  width: 38px;
  height: 20px;
  background: url('../../static/images/operate/disable.png') no-repeat;
}
.iconBtnGroup .printIcon {
  display: block;
  width: 38px;
  height: 20px;
  background: url('../../static/images/operate/print.png') no-repeat;
}
.iconBtnGroup .configPriceGroupIcon {
  display: block;
  width: 38px;
  height: 20px;
  background: url('../../static/images/operate/configPriceGroup.png') no-repeat;
}
.iconBtnGroup .deleteIcon {
  display: block;
  width: 38px;
  height: 20px;
  background: url('../../static/images/operate/delete.png') no-repeat;
}
.iconBtnGroup .deleteBlackIcon {
  display: block;
  width: 24px;
  height: 24px;
  background: url('../../static/images/operate/deleteBlack.png') no-repeat;
}
.iconBtnGroup .editBlackIcon {
  display: block;
  width: 24px;
  height: 24px;
  background: url('../../static/images/operate/editBlack.png') no-repeat;
}
.ant-btn-primary {
  border-radius: 20px;
  background: #1863fd;
  border-color: #1863fd;
}
.ant-btn-danger {
  border-radius: 20px;
}
.ant-btn > span {
  vertical-align: middle;
}
.determineIcon {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  margin-left: 10px;
  background: url(../../static/images/btn/determine.png) no-repeat;
}
.resetIcon {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  margin-left: 10px;
  background: url(../../static/images/btn/reset.png) no-repeat;
}
.editIcon {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  margin-left: 10px;
  background: url(../../static/images/btn/edit.png) no-repeat;
}
.printIcon {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  margin-left: 10px;
  background: url(../../static/images/btn/print.png) no-repeat;
}
.searchIcon {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  margin-left: 10px;
  background: url(../../static/images/btn/search.png) no-repeat;
}
.newIcon {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  margin-left: 10px;
  background: url(../../static/images/btn/new.png) no-repeat;
}
.mnemoniCodeIcon {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 16px;
  margin-left: 10px;
  background: url(../../static/images/btn/mnemoniCode.png) no-repeat;
}
.eleCardIcon {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  margin-left: 10px;
  background: url(../../static/images/btn/eleCard.png) no-repeat center center;
}
.bankCardIcon {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  margin-left: 10px;
  background: url(../../static/images/btn/bankCard.png) no-repeat center center;
}
.alipayIcon {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  margin-left: 10px;
  background: url(../../static/images/btn/alipay.png) no-repeat center center;
}
.wxIcon {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  margin-left: 10px;
  background: url(../../static/images/btn/wx.png) no-repeat center center;
}
.oilCardIcon {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  margin-left: 10px;
  background: url(../../static/images/btn/oilCard.png) no-repeat center center;
}
.stationCardIcon {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  margin-left: 10px;
  background: url(../../static/images/btn/stationCard.png) no-repeat center center;
}
.moneyIcon {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  margin-left: 10px;
  background: url(../../static/images/btn/money.png) no-repeat center center;
}
