.containerRt {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: calc(93%);
}
.home {
  width: 100%;
  height: 100%;
  background: #fff;
  text-align: center;
}
.home h3 {
  padding-top: 20%;
}
.cashierMain {
  float: left;
  width: 100%;
  height: calc(94%);
  box-sizing: border-box;
  background: url(../../src/static/images/cashierBus/bg.png) no-repeat;
  background-size: cover;
  overflow: hidden;
}
.cashierMain .cashierCon {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 1%;
}
.busCircumstance {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 10px 0 100px;
  background: #e0e5ff;
}
