body {
  line-height: inherit;
}
.header {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 90px;
  background: #1863fd;
}
.header .logoBox {
  width: 20%;
  height: 100%;
}
.header .logoBox .logo {
  margin: 24px 20px;
}
.header .menuBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 40%;
  height: 100%;
  text-align: center;
}
.header .menuBox .menuNav {
  padding: 18px 20px;
  text-decoration: none;
}
.header .menuBox .menuNav .pic {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
}
.header .menuBox .menuNav .title {
  color: #fff;
}
.header .menuBox .active {
  background: url('../../static/images/header/bg.png');
}
.header .handleBox {
  width: 40%;
  height: 100%;
  text-align: center;
}
.header .handleBox .handleDetail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-height: 40px;
  background: #187ffd;
}
.header .handleBox .handleDetail .detail {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 0;
  color: #fff;
}
.header .handleBox .handleDetail .detail .iconPic {
  padding: 0 5px;
  cursor: pointer;
}
.header .handleBox .handleDetail .detail .close:hover {
  transform: scale(1.1);
  background: #da2008;
}
.header .handleBox .handleDetail .handle {
  height: 100%;
  background: #2118dd;
}
.header .handleBox .handleBtn {
  margin-top: 15px;
  border-color: #fff;
  background: #1863fd;
}
