.leftCon,
.rightCon,
.centerCon {
  display: inline-block;
  vertical-align: top;
  height: 88%;
}
.leftCon .ant-table-pagination,
.rightCon .ant-table-pagination,
.centerCon .ant-table-pagination {
  display: none;
}
.leftCon {
  position: absolute;
  left: 0;
  top: 0;
  width: 486px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.leftCon .listGood {
  width: 100%;
  height: 42%;
  background: #fff;
  border-radius: 10px;
  overflow-y: auto;
  padding-bottom: 20px;
}
.leftCon .listGood th {
  font-weight: bold;
  background: #e1e9f6;
}
.leftCon .listGood td:nth-child(2) .txt {
  display: block;
  width: 40px;
  height: 20px;
  border-radius: 40%;
  color: #fff;
  background: #ff0000;
}
.leftCon .listGood td:nth-child(5) {
  color: #ff0000;
  font-size: 18px;
  font-weight: bold;
}
.leftCon .oilGun {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 57%;
  background: #fff;
  border-radius: 5px;
}
.leftCon .oilGun .gunNum {
  position: relative;
  width: 16.6%;
  height: 16.7%;
  border-radius: 0;
  color: #d1d1d1;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.leftCon .oilGun .gunNum:nth-child(6) {
  border-radius: 0 10px 0 0;
  border-top: none;
  border-right: none;
}
.leftCon .oilGun .gunNum:nth-child(1),
.leftCon .oilGun .gunNum:nth-child(2),
.leftCon .oilGun .gunNum:nth-child(3),
.leftCon .oilGun .gunNum:nth-child(4),
.leftCon .oilGun .gunNum:nth-child(5) {
  border-top: none;
}
.leftCon .oilGun .gunNum:nth-child(12),
.leftCon .oilGun .gunNum:nth-child(18),
.leftCon .oilGun .gunNum:nth-child(24),
.leftCon .oilGun .gunNum:nth-child(30) {
  border-right: none;
}
.leftCon .oilGun .gunNum:nth-child(36) {
  border-radius: 0 0 5px 0;
  border-right: none;
}
.leftCon .oilGun .gunNum .num {
  display: block;
  width: 25px;
  margin: 5px 0 0 5px;
  text-align: center;
  border-radius: 40%;
}
.leftCon .oilGun .gunNum .oilNum,
.leftCon .oilGun .gunNum .price {
  display: none;
}
.leftCon .oilGun .detail,
.leftCon .oilGun .detailReful {
  background: url(../../static/images/cashierBus/agenFund.png) no-repeat right 5px;
}
.leftCon .oilGun .detail .oilNum,
.leftCon .oilGun .detailReful .oilNum {
  position: absolute;
  bottom: 16px;
  display: block;
  width: 92%;
  font-size: 12px;
  color: #666;
  text-align: right;
}
.leftCon .oilGun .detail .price,
.leftCon .oilGun .detailReful .price {
  position: absolute;
  left: 4%;
  bottom: 2px;
  display: block;
  width: 92%;
  background: red;
  color: #fff;
  font-size: 12px;
  text-align: center;
}
.leftCon .oilGun .detail .num,
.leftCon .oilGun .detailReful .num {
  color: #fff;
  background: red;
}
.leftCon .oilGun .detailReful {
  background: url(../../static/images/cashierBus/refueling.png) no-repeat right 5px;
}
.leftCon .oilGun .detailReful .price {
  background: orange;
}
.leftCon .oilGun .detailReful .num {
  color: #fff;
  background: orange;
}
.centerCon {
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  left: 503px;
  top: 0;
  width: 150px;
}
.centerCon .btn {
  display: block;
  width: 100%;
  height: 8%;
  border-radius: 10px;
  background: linear-gradient(angle, #f3f3f3, #ededed);
  border-color: #e9e9e9;
  box-shadow: 2px 2px 2px #777;
}
.centerCon .btn:nth-child(3) {
  color: #fff;
  background: #49cde4;
  border: none;
}
.centerCon .btn:nth-child(4) {
  color: #fff;
  background: #f57208;
  border: none;
}
.centerCon .btn:last-child {
  margin-bottom: 0;
}
.rightCon {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 98%;
  padding-left: 670px;
}
.rightCon .tableBox {
  height: 60%;
}
.rightCon .tableBox .tableSymbol {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  height: 7%;
  padding: 0;
  font-size: 0;
  background: #313541;
}
.rightCon .tableBox .tableSymbol li {
  position: relative;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  list-style: none;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
}
.rightCon .tableBox .tableSymbol .hot {
  position: absolute;
  left: 20%;
  top: 19%;
  width: 24px;
  height: 24px;
  background: url(../../static/images/operate/hot.png) no-repeat;
}
.rightCon .tableBox .tableSymbol .vip {
  display: block;
  width: 24px;
  height: 24px;
  background: url(../../static/images/operate/VIP.png) no-repeat;
}
.rightCon .tableBox .listGood {
  width: 100%;
  height: 93%;
  background: #fff;
  border-radius: 10px;
  overflow-y: auto;
  padding-bottom: 20px;
}
.rightCon .tableBox .listGood table th {
  font-weight: bold;
}
.rightCon .tableBox .listGood table td {
  position: relative;
}
.rightCon .tableBox .listGood table td .discount {
  max-width: 70px;
  margin: 0 auto;
  background: red;
  border-radius: 5%;
  text-align: center;
  font-size: 12px;
  color: #fff;
}
.rightCon .tableBox .listGood table td .discountGreen {
  max-width: 70px;
  margin: 0 auto;
  background: green;
  border-radius: 5%;
  text-align: center;
  font-size: 12px;
  color: #fff;
}
.rightCon .tableBox .listGood table td .discountOrange {
  max-width: 70px;
  margin: 0 auto;
  background: orange;
  border-radius: 5%;
  text-align: center;
  font-size: 12px;
  color: #fff;
}
.rightCon .tableBox .listGood table td .goodNum {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rightCon .tableBox .listGood table td .goodNum .btn {
  width: 30px;
  height: 30px;
  line-height: 28px;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
}
.rightCon .tableBox .listGood table td .goodNum .num {
  padding: 0 10px;
  color: #ff0000;
  font-weight: bold;
}
.rightCon .mnemoniCodeBox {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 8%;
}
.rightCon .mnemoniCodeBox .mnemoniCodeInput {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.rightCon .mnemoniCodeBox .mnemoniCodeBtn {
  width: 170px;
  height: 100%;
  margin-left: 20px;
  border-radius: 10px;
}
.rightCon .payDetail {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 30%;
  background: #fff;
  border-radius: 10px;
}
.rightCon .payDetail .payList {
  width: 100%;
  padding-right: 420px;
}
.rightCon .payDetail .payList .payBill {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  margin-bottom: 0;
  padding: 0 3%;
}
.rightCon .payDetail .payList .payBill .bill {
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style: none;
}
.rightCon .payDetail .payList .payBill .bill span {
  padding: 1% 0;
  font-size: 1.2em;
  color: #545454;
}
.rightCon .payDetail .payList .payBill .bill:last-child span {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}
.rightCon .payDetail .payList .payBill .bill:last-child span:last-child {
  color: #ff0000;
}
.rightCon .payDetail .payMethod {
  position: absolute;
  right: 20px;
  top: 0;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
  width: 400px;
  height: 100%;
  border-left: 1px dashed #ccc;
}
.rightCon .payDetail .payMethod .btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  height: 24%;
  background: #f3f3f3;
  border: 1px solid #d7d7d7;
  margin: 1% 0 1% 3%;
}
.rightCon .payDetail .payMethod .btn span {
  display: inline-block;
  vertical-align: middle;
}
.rightCon .payDetail .payMethod .btn span:first-child {
  background-size: 60% 60%;
}
.rightCon .payDetail .payMethod .btn .eleCardIcon {
  margin-left: 0;
}
.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  text-align: center;
}
table {
  table-layout: fixed;
}
